body {
    margin: 0;
}

.display-container {
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

#grid-setting {
    border: 1px solid black;
    padding: 8px;
    border-radius: 16px;
    background-color: white;
    cursor: pointer;
}

#grid-setting:active {
    background-color: black;
    color: white;
    border: 1px solid white;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    max-height: 100dvh;
}

.grid {
    border: 1px solid black;
}